@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;800&family=Orelega+One&family=Poppins&family=Prompt:wght@400;700;800&family=Righteous&family=Rubik+Spray+Paint&family=Rubik:wght@400;800&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}